* {
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
}

p {
  font-size: 1.5em;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}
